.Spinner {
  content: '';
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-right: 4px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner 0.8s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.Center {
  margin: auto;
}
