.DomainList {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.DomainList form {
  margin: 0.2rem 5rem 0 5rem;
}

@media all and (max-width: 350px) {
  .DomainList form {
    margin: 0;
  }
}

.HistoryButton {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.Buttons {
  margin-top: 15px;
}

.Buttons button:last-child {
  margin-left: 15px;
}
