.DomainList {
   width: 80%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.DomainList form {
   margin: 5%;
}

@media all and (max-width: 350px) {
   .DomainList form {
      margin: 0;
   }
}

.HistoryButton {
   margin: .5rem 0 0 .5rem;
   text-align: left;
}

.Buttons {
   margin-top: 15px;
}

.Buttons button:last-child {
   margin-left: 15px;
}