.Textarea {
   width: 600px;
   height: 300px;
   min-width: 500px;
   max-width: 800px;
   min-height: 200px;
   max-height: 600px;
   font-family: 'Inconsolata', sans-serif;
   font-size: .9rem;
   border-radius: 8px;
   border: none;
   padding-left: 2px;
   box-shadow: 2px 1px 4px 1px #68ffeb;
   background-color: var(--white);
}

.Textarea:read-only {
   background-color: thistle;
   cursor: not-allowed;
}