.BackButton {
   margin: .5rem 0 0 .5rem;
   text-align: left;
}

.Filters {
   display: flex;
   justify-content: center;
   align-items: baseline;
}

.Filters>* {
   margin-right: 1rem;
}

.Filters input {
   align-self: stretch;
   width: 25%;
}

.List {
   width: 80%;
   margin: 0 auto;
}