.Controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  min-height: 40px;
  margin-top: 1.5rem;
}

.Controls > * {
  margin-right: 1rem;
}

.List {
  width: 80%;
  margin: 0 auto;
}
